:root {
    --colorWhite: white;
    --colorRiverStyx: #161a20;
    --colorAbsenceOfLight: #111419;
    --colorBeer: #f6931d;
    --colorSoftToneInk: #9c621d;
    --colorBlackGrey: #22272e;
    --colorSpandexGreen: #38b449;
    --colorTeaberry: #de3d58;
}
